<div
  *ngIf="!submitted"
  style="width: 400px"
  fxLayoutAlign="center center"
  fxFlexFill
>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h3>Create New Promotion</h3>
      <label for="name"
        >Promotion Percentage<span style="color: red">*</span></label
      >
      <input
        type="date"
        class="form-control"
        id="Percentage"
        required
        [(ngModel)]="promotionFlush.percentagePromotion"
        name="percentage"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="name"
        >Promotion Expiration<span style="color: red">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="Percentage"
        required
        [(ngModel)]="promotion.expirationDate"
        name="date"
        disabled
      />
    </div>

    <div class="form-group">
      <label for="name">Articles<span style="color: red">*</span></label>
      <select
        [(ngModel)]="promotion.articleIds"
        name="articles"
        class="form-control"
        [multiple]="true"
      >
        <option *ngFor="let article of articles" [value]="article.id">
          <strong> code: </strong> {{ article.code }} <strong> name: </strong>
          {{ article.name }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div *ngIf="submitted">
  <h4>You Add new Promotion Articles successfully!</h4>
  <button (click)="getPromotionPercentage()" class="btn btn-danger">
    Back To {{ promotion.percentagePromotion }} % ,{{
      promotion.expirationDate
    }}
    Promotions Flush Articles
  </button>
</div>
