<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<nav class="navbar navbar-expand-sm">
  <!-- Links -->
  <ul class="navbar-nav">
    <!-- <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
      <a routerLink="userList" class="nav-link" routerLinkActive="active"
        ><strong> <h4>User List</h4></strong></a
      >
    </li> -->
    <li class="nav-item-img">
      <a>
        <img
          [src]="home"
          fxLayoutAlign="center center"
          routerLink="body"
          class="nav-link"
          routerLinkActive="active"
        />
      </a>
    </li>
    <li class="nav-item-img">
      <a>
        <img
          [src]="basket"
          fxLayoutAlign="center center"
          routerLink="basket"
          class="nav-link"
          routerLinkActive="active"
        />
      </a>
    </li>
    <li class="nav-item-img">
      <a>
        <img
          [src]="menu"
          fxLayoutAlign="center center"
          routerLink="promotionFlushList"
          class="nav-link"
          routerLinkActive="active"
        />
      </a>
      <div class="sub-menu">
        <ul>
          <li class="nav-item">
            <a routerLink="update" class="nav-link" routerLinkActive="active"
              >My Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="myOrders" class="nav-link" routerLinkActive="active"
              >My Orders
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a routerLink="userList" class="nav-link" routerLinkActive="active"
              >Users List
            </a>
          </li>
          <li
            *ngIf="
              authService.hasRole('ADMIN') || authService.hasRole('PROVIDER')
            "
            class="nav-item"
          >
            <a
              routerLink="createArticle"
              class="nav-link"
              routerLinkActive="active"
              >Create Article
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="articleList"
              class="nav-link"
              routerLinkActive="active"
              >Articles List
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="categoryList"
              class="nav-link"
              routerLinkActive="active"
              >Categories List
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="subcategoriesList"
              class="nav-link"
              routerLinkActive="active"
              >Subcategories List
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a routerLink="oderList" class="nav-link" routerLinkActive="active"
              >Orders List
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="createPromotion"
              class="nav-link"
              routerLinkActive="active"
              >Create Promotion
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="promotionList"
              class="nav-link"
              routerLinkActive="active"
              >Promotions List
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="createPromotionFlush"
              class="nav-link"
              routerLinkActive="active"
              >Create Promotion Flush
            </a>
          </li>
          <li *ngIf="authService.hasRole('ADMIN')" class="nav-item">
            <a
              routerLink="promotionFlushList"
              class="nav-link"
              routerLinkActive="active"
              >Promotions Flush List
            </a>
          </li>
          <li *ngIf="authService.hasRole('PROVIDER')" class="nav-item">
            <a
              routerLink="articleProviderList/{{ id }}"
              class="nav-link"
              routerLinkActive="active"
              >My Articles
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="updatePassword"
              class="nav-link"
              routerLinkActive="active"
              >Update Password
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="auth/login"
              class="nav-link"
              routerLinkActive="active"
              ><button (click)="logOut()">
                Logout<img [src]="logout" fxLayoutAlign="center center" />
              </button>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<!-- <div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1491604612772-6853927639ef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRvZ3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1491604612772-6853927639ef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRvZ3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1491604612772-6853927639ef?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRvZ3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div> -->
