<form class="box" action="index.html" method="post" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <input
    type="text"
    placeholder="Username"
    id="email"
    required
    [(ngModel)]="userAuth.userName"
    name="email"
  />
  <input
    type="password"
    placeholder="Password"
    id="password"
    required
    [(ngModel)]="userAuth.password"
    name="password"
  />
  <input type="submit" name="" value="Login" class="btn btn-success" />
  <a [routerLink]="['/', 'auth', 'signup']"> Don't Have An Account </a>
</form>
