<form class="box" action="index.html" (ngSubmit)="onSubmit()">
  <h1>new account</h1>
  <input
    type="text"
    placeholder="User First Name"
    id="firstName"
    required
    [(ngModel)]="user.firstName"
    name="firstName"
  />
  <input
    type="text"
    id="lastName"
    placeholder="User Last Name"
    required
    [(ngModel)]="user.lastName"
    name="lastName"
  />
  <input
    type="text"
    placeholder="User Sex"
    id="sex"
    required
    [(ngModel)]="user.sex"
    name="sex"
  />
  <input
    type="text"
    placeholder="User Mail"
    id="email"
    required
    [(ngModel)]="user.email"
    name="email"
  />
  <input
    type="text"
    placeholder="User Address"
    id="address"
    required
    [(ngModel)]="user.address"
    name="address"
  />
  <input
    type="text"
    placeholder="User CIN"
    id="cin"
    required
    [(ngModel)]="user.cin"
    name="cin"
  />
  <input
    type="date"
    placeholder="User Birthday"
    id="birthday"
    required
    [(ngModel)]="user.birthday"
    name="birthday"
  />
  <input
    type="text"
    placeholder="User DriverLicence"
    id="driverLicence"
    required
    [(ngModel)]="user.driverLicence"
    name="driverLicence"
  />
  <input
    type="text"
    placeholder="User Phone Number"
    id="phoneNumber"
    required
    [(ngModel)]="user.phoneNumber"
    name="phoneNumber"
  />
  <input
    type="password"
    placeholder="Password"
    id="password"
    required
    [(ngModel)]="user.password"
    name="password"
  />
  <input type="submit" name="" value="Create Account" class="btn btn-success" />
</form>
