<div
  *ngIf="!submitted && !create"
  style="width: 400px"
  fxLayoutAlign="center center"
  fxFlexFill
>
  <form (ngSubmit)="onSubmit()">
    <ul>
      <a
        routerLinkActive="active"
        style="color: rgb(235, 25, 154)"
        fxLayoutAlign="center center"
        ><h1>LOGIN</h1></a
      >
    </ul>
    <div class="form-group">
      <label for="name">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="userAuth.userName"
        name="email"
        placeholder="Input your email"
      />
    </div>

    <div class="form-group">
      <label for="name">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        [(ngModel)]="userAuth.password"
        name="password"
        placeholder="Input your password"
      />
    </div>
    <button type="submit" class="btn btn-success">Login</button>
    <div class="form-group">
      <label routerLink="createUser" routerLinkActive="">
        Don't Have An Account
      </label>
      <button (click)="createAccount()" class="btn btn-danger" name="b1">
        Inscription
      </button>
    </div>
  </form>
</div>
<div *ngIf="submitted">
  <app-header></app-header>
</div>
<div *ngIf="create">
  <app-create-user></app-create-user>
</div>
