<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Insufficient Articles List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Stock</th>
          <th>Description</th>
          <th>Color</th>
          <th>Weight</th>
          <th>Price</th>
          <th>TVA</th>
          <th>Subcategory Name</th>
          <th>Provider Cin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>{{ article.code }}</td>
          <td>{{ article.name }}</td>
          <td>{{ article.stock }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.color }}</td>
          <td>{{ article.weight }}</td>
          <td>{{ article.price }}</td>
          <td>{{ article.tva }}</td>
          <td>{{ article.subCategory.name }}</td>
          <td>{{ article.user.cin }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
