<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Articles List</h2>
  </div>
  <div class="panel-body">
    <input
      type="text"
      class="form-control"
      id="ss"
      required
      [(ngModel)]="stock"
      name="st"
      placeholder="Stock"
    />
    <button
      type="submit"
      (click)="getInsufficientArticles()"
      class="btn btn-success"
    >
      Get Insufficient Articles
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Stock</th>
          <th>Description</th>
          <th>Color</th>
          <th>Weight</th>
          <th>Price</th>
          <th>TVA</th>
          <th>Subcategory Name</th>
          <th>Provider Cin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>{{ article.code }}</td>
          <td>{{ article.name }}</td>
          <td>{{ article.stock }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.color }}</td>
          <td>{{ article.weight }}</td>
          <td>{{ article.price }}</td>
          <td>{{ article.tva }}</td>
          <td>{{ article.subCategory.name }}</td>
          <td>{{ article.user.cin }}</td>
          <td>
            <button (click)="updateArticle(article.id)" class="btn btn-danger">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
