<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Promotions Flush List</h2>
    <h3>Promotion Percentage={{ promotionFlush.percentagePromotion }}%</h3>
    <button (click)="addPromotion()" class="btn btn-danger">
      Add Promotions Articles
    </button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Promotion Percentage</th>
          <th>Promotion Expiration</th>
          <th>Article Code</th>
          <th>Article Name</th>
          <th>Article Subcategory</th>
          <th>Article Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <td>{{ promotionFlush.percentagePromotion }}</td>
        <td>{{ promotionFlush.promotionExpiration }}</td>
        <tr *ngFor="let article of articles">
          <td></td>
          <td></td>
          <td>{{ article.code }}</td>
          <td>{{ article.name }}</td>
          <td>{{ article.subCategory.name }}</td>
          <td>{{ article.price }}</td>
          <td>
            <button
              (click)="deletePromotionArticle(article.id)"
              class="btn btn-danger"
            >
              Delete Promotion
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
